.container-fluid {
  width: 100%;
}

.row {
  width: 100%;
}

#height {
  padding-bottom: 40px;
}

#tallRides, #shortRides {
  display: none;
}



#tallRides {
  background-color: rgb(61%, 83%, 19%);
  margin: -15px;
  padding: 30px;
  padding-bottom: 45px;
}

#shortRides {
  background-color: rgb(13%, 35%, 14%);
  margin: -15px;
  padding: 30px;
  color: white;
}
